.wrapper-content {
    width: 920px;
    background-color: white;
    margin: 5px auto;

}

.clear {
    clear: both;
}

.content {
    width: 660px;
    float: left;
    margin-right: 20px;
    background-color: brown;
}

.lateral {
    width: 240px;
    float: left;
    background-color: blue;
}