.wrapper-content {
    width: 920px;
    margin: 15px auto 0px auto;
}

.clear {
    clear: both;
}

.content {
    width: 660px;
    float: left;
    margin-right: 20px;
}

.post {
    padding: 20px;
    background-color: #FFF;
    float: left;
    margin-bottom: 15px;
}

h2 {
    color: #F7B600;
}

.data {
    font-size: 0.8em;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #F4F4F4;
}

#img1 {
    width: 620px;
}

.content .action-content {
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
    color: #F7B600;
}

.content .action-content:hover {
    text-decoration: underline;
}


.lateral {
    width: 240px;
    float: left;
}

.subtitle {
    color: #565656;
    background-color: #CCC;
    padding: 4px;
}

.recent-post {
    padding: 10px;
    background: #FFF;
    margin-bottom: 15px;
}

.recent-post a {
    display: inline-block;
    text-decoration: none;
    color: #F7B600;
}

.recent-post a:hover {
    text-decoration: underline;
}

.recent-post p {
    margin-top: 5px;
}

.category {
    padding: 10px;
    background: #FFF;
}

.category a {
    display: block;
    font-size: 1.1em;
    text-decoration: none;
    margin-top: 4px;
    color: #F7B600;
    
}

.category a:hover {
    text-decoration: underline;
}

